extends layout

include _mixins

block content
  h1 Images for user #{user.username}
  ul
    each image in files
      li
        +image(image)
          button(type=button, data-path=image.path, onclick="$.ajax({url: $(this).data('path'), type: 'DELETE'}).done(function(){window.location.reload()})") Delete image
    else
      li There are no images
  section
    h2 Upload new file
    form(method='POST', enctype='multipart/form-data', action='/uploads')
      label
        | Files:
        input(type='file', name='uploads', accept="image/*")
      button(type='submit') Submit
